<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disease Prediction</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Disease Prediction</h2>
    <form method="POST" action="/predict">
        <input type="number" name="age" placeholder="Age" required>
        <select name="gender" required>
            <option value="" disabled selected>Select Gender</option>
            <option value="0">Female</option>
            <option value="1">Male</option>
        </select>
        <select name="fever" required>
            <option value="" disabled selected>Do you have Fever?</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <select name="cough" required>
            <option value="" disabled selected>Do you have Cough?</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <select name="headache" required>
            <option value="" disabled selected>Do you have Headache?</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <select name="sore_throat" required>
            <option value="" disabled selected>Sore Throat?</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <select name="fatigue" required>
            <option value="" disabled selected>Feeling Fatigue?</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <select name="nausea" required>
            <option value="" disabled selected>Do you have Nausea?</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <button type="submit">Predict</button>
    </form>

    {% if result %}
    <h3>{{ result }}</h3>
    {% endif %}
</body>
</html>
